**/target/
**/.idea/
LearnJAVA/.idea/compiler.xml,LearnJAVA/.idea/libraries/Maven__junit_junit_4_12.xml,LearnJAVA/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml,LearnJAVA/.idea/misc.xml,LearnJAVA/.idea/modules.xml,LearnJAVA/.idea/vcs.xml,LearnJAVA/.idea/workspace.xml
*.iml
